<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/tailwind.css') }}"
      rel="stylesheet"
    />

    <title>Evenementen</title>
  </head>
  <body>
    <form class="container mx-auto m-8" method="post" action="/">
      <div class="space-y-12">
        <div
          class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3"
        >
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900">
              Basisgegevens
            </h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">
              Gebruik een sprekende titel, bv. "Fietsen langs kapelletjes", "De
              Sage van de Eenhoorn". Een uitgebreide beschrijving kan je in stap
              6 toevoegen.
            </p>
          </div>

          <div
            class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2"
          >
            <div class="sm:col-span-4">
              <label
                for="naam-evenement"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Naam van het evenement
              </label>
              <div class="mt-2">
                <div
                  class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md"
                >
                  <input
                    type="text"
                    name="naam-evenement"
                    id="naam-evenement"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    placeholder="Titel van het beste evenenement ter wereld!"
                  />
                </div>
              </div>
            </div>

            <div class="col-span-full">
              <div>
                <label for="geschikt-voor" class="block text-sm font-medium leading-6 text-gray-900">Location</label>
                <p class="mt-1 text-sm leading-6 text-gray-600">
                  Voor welke leeftijden is je evenement geschikt
                </p>
                <select id="geschikt-voor" name="geschikt-voor" class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <option selected>Alle leeftijden</option>
                  <option>Peuters</option>
                  <option>Kleuters</option>
                  <option>Kinderen</option>
                  <option>Tieners</option>
                  <option>Jongeren</option>
                  <option>Volwassenen</option>
                  <option>Senioren</option>
                  <option>Andere</option>
                </select>
              </div>
              
            </div>
          </div>
        </div>

        <div
          class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3"
        >
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900">
              Zorg dat je publiek geen informatie mist
            </h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">
              Geef een enthousiaste omschrijving van de rondleiding. Wat valt er
              langs de route te bekijken of beleven? Is er een maximaal aantal
              deelnemers?
            </p>
          </div>

          <div
            class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2"
          >
            <div class="col-span-full">
              <label
                for="beschrijving"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Beschrijving</label
              >
              <div class="mt-2">
                <textarea
                  id="beschrijving"
                  name="beschrijving"
                  rows="3"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                ></textarea>
              </div>
              <p class="mt-3 text-sm leading-6 text-gray-600">
                Geef een beschrijving van je evenement.
              </p>
            </div>

            <div class="col-span-full">
              <label
                for="street-number"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Straat en nummer</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="street-number"
                  id="street-number"
                  autocomplete="street-number"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="sm:col-span-2 sm:col-start-1">
              <label
                for="stad"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Stad</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="stad"
                  id="stad"
                  autocomplete="stad"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="sm:col-span-2">
              <label
                for="procinvie"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Provincie</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="provincie"
                  id="provincie"
                  autocomplete="provincie"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="sm:col-span-2">
              <label
                for="postcode"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Postcode</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="postcode"
                  id="postcode"
                  autocomplete="postcode"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
          </div>
        </div>

       

      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button
          type="button"
          class="text-sm font-semibold leading-6 text-gray-900"
        >
          Annuleren
        </button>
        <button
          type="submit"
          class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Opslaan
        </button>
      </div>
    </form>
  </body>
</html>
